<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <title>Welcome to Social Composer - Virtual Production Desktop</title>

        <!-- Twitter Bootstrap styles -->
        <link href="/css/style-min.css" rel="stylesheet">

        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>

    <body>
        
        <div id="header"><%- partial('header')%></div>
        <div class="container container-fluid" style="height: 450px; padding-top: 50px;">
            <div class="row-fluid">
                <div class="alert" style="margin-bottom: 5px;">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>Warning!</strong> This website is under construction!
                </div>
                <div style="padding-top: 5px;">
                    <div class="span10">
                        <div id="content"><%- body %></div>
                    </div>
                </div>
            </div>
        </div>
        <div id="footer"><%- partial('footer')%></div>

        <!-- Scripts placed at end of document for faster page load -->
        <script data-main="/js/main.js" src="/js/libs/require.js"></script>
    </body>
</html>