<header class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            
            <a class="brand" href="./">SoCo</a>

            <div class="nav-collapse collapse">
                <ul class="nav pull-right">
                    <li id="navbar_home"><a href="./">Home</a></li>         
                    <li id="navbar_compose"><a href="./compose">Compose</a></li>
                    <li id="navbar_about"><a href="./about">About</a></li>
                    <li id="navbar_contact"><a href="mailto:info@pachuagarwal.com">Contact</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</header>