<% layout('boilerplate') -%>
<% block('header', "") -%>
<body>
    <script src="/js/libs/vexflow-min.js"></script>
    <script src="/js/libs/jquery-1.8.3.js"></script>
    <script src="/js/views/sheetmusic.js"></script>
    <canvas id='sheetCanvas' width=1000 height=800"></canvas> 
</body>
<% block('footer', "") -%>